#pagewide-nav {
	border-bottom: 2px solid dimgrey;
	display: flow-root;
	a {
		float: left;
		padding: 1em;
		border: 1px solid gray;
	}
}

main {
	clear: both;
	display: grid;
	grid-template-columns: max-content 1fr;
	/* each section does not participate in layout; its two children
	   (h1 or hgroup followed by a div) are the grid level items */
	> section {
		display: contents;
		> :nth-child(1) {
			margin: 0;
			border-right: 4px solid rgba(0, 0, 0, 0.2);
			padding: 2lh;
		}
		> :nth-child(2) {
			padding: 2lh;
		}
	}
	
	/* background color table for the 2 parts of each section */
	> section:nth-child(1) > :nth-child(1) { background-color: hsl(240 100 90) }
	> section:nth-child(1) > :nth-child(2) { background-color: hsl(240 100 95) }
	> section:nth-child(2) > :nth-child(1) { background-color: hsl(0 100 90) }
	> section:nth-child(2) > :nth-child(2) { background-color: hsl(0 100 95) }
	> section:nth-child(3) > :nth-child(1) { background-color: hsl(120 100 90) }
	> section:nth-child(3) > :nth-child(2) { background-color: hsl(120 100 95) }
	> section:nth-child(4) > :nth-child(1) { background-color: hsl(60 100 90) }
	> section:nth-child(4) > :nth-child(2) { background-color: hsl(60 100 95) }
}

.project {
	/* contain floats such as project previews */
	display: flow-root;
	/* outline when hovered to make up for lack of default <a> styling */
	&:hover { outline: 2px solid black; }
	
	margin: 2em 0;
	border: 2px solid gray;
	border-radius: 4px;
	padding: 1em;
	
	/* each p of a project's hgroup contains a piece of information
	   such as completion status or technologies the project uses */
	> hgroup > p {
		display: inline-block;
		margin: 1ch;
		padding: 1ch;
		border: 2px solid grey;
		border-radius: 4px;
	}
	> hgroup > h2 {
		margin-bottom: 0;
	}
	
}

.writing {
	/* outline when hovered to make up for lack of default <a> styling */
	&:hover { outline: 2px solid black; }
	
	margin: 2em 0;
	border: 2px solid gray;
	border-radius: 4px;
	padding: 1em;
	
	/* make pdf download declaration closer to heading */
	h2 {
		margin-bottom: 0;
		+ p {
			margin-top: 0;
		}
	}
}

img:not(.icon) {
	border-radius: 6px;
	width: 300px;
	float: left;
	margin-right: 1.5ch;
}
img.icon {
	height: 1lh;
	margin-right: 0.8ch;
}
hr {
	color: gray;
}

/* for hyperlinks which are entire sections,
   remove default hyperlink styling */
a:has(> section) {
	color: inherit;
	text-decoration: inherit;
}
